@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	font-style: none;
}

img {
	vertical-align: top;
}

h1 {
	font-size: inherit;
	font-weight: 400;
}

.html {
	max-width: 840px;
	margin: 0 auto;
	min-height: 100vh;
}

.body {
	padding: 50px 20px 90px 20px;
	color: rgb(170, 170, 173) !important;
	background: rgb(45, 45, 47);
}
.body h2,
.body h3,
.body h4 {
	margin: 0 !important;
	font-weight: 500;
}
.body h2 {
	max-width: 672px;
	font-family: "Oswald", sans-serif;
	font-size: 34px;
	line-height: 1.2;
	color: rgb(255, 219, 153) !important;
}
.body h2 span {
	color: #fff !important;
	font-weight: 700;
}
.body h3 {
	font-family: "Oswald", sans-serif;
	font-size: 30px;
	line-height: 1.1;
	color: rgb(255, 219, 153) !important;
}
.body h3 span {
	color: #fff !important;
}
.body h4 {
	font-family: "Exo 2", sans-serif;
	font-size: 22px;
	line-height: 1.4;
	color: #fff !important;
}
.body p {
	margin-bottom: 0;
}

@media (max-width: 370px) {
	.body h2 {
		font-size: 28px;
	}
	.body h3 {
		font-size: 24px;
	}
	.body h4 {
		font-size: 17px;
	}
}
.line-big {
	width: 15%;
	height: 3px;
	margin: 30px 0 65px 0;
	background-color: rgb(255, 218, 153);
}

@media (max-width: 650px) {
	.line-big {
		margin: 25px 0 45px 0;
	}
}
.txt {
	font-family: "Fira Sans", sans-serif;
	font-size: 15px;
	line-height: 1.6;
	font-weight: 300;
}

@media (max-width: 370px) {
	.txt {
		font-size: 14px;
	}
}
.block-p15 {
	padding: 15px;
	border-radius: 10px;
	background: rgba(86, 86, 90, 0.25);
}

.description {
	margin-bottom: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 45px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.description__text {
	width: calc(65% - 45px);
	min-width: 272px;
}
.description__text > p.txt {
	margin: 35px 0;
}
.description__text > .block-p15 p {
	font-family: "Exo 2", sans-serif;
	font-size: 18px;
	line-height: 1.6;
	color: #fff !important;
}
.description__img {
	width: 35%;
	min-width: 170px;
}
.description__img-cont {
	position: relative;
	padding-bottom: 115%;
}
.description__img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100% !important;
	border-radius: 10px;
	-o-object-fit: cover;
	   object-fit: cover;
}

@media (max-width: 650px) {
	.description {
		margin-bottom: 60px;
	}
	.description__text {
		width: 100%;
		min-width: auto;
	}
	.description__img {
		width: 100%;
		max-width: 280px;
	}
}
.line-min {
	width: 5%;
	height: 3px;
	background-color: rgb(255, 218, 153);
}

.advantages {
	margin: 65px 0 110px 0;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 35px;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
}
.advantages__item {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 20px 1fr;
	grid-template-columns: auto 1fr;
	gap: 20px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
}
.advantages__item span {
	display: inline-block;
	width: 40px;
	padding: 5px 0;
	font-family: "Oswald", sans-serif;
	font-size: 22px;
	line-height: 1.6;
	color: rgb(255, 219, 153) !important;
	font-weight: 700;
	text-align: center;
	background-color: rgb(45, 45, 47);
	border-radius: 10px;
}
.advantages__item div {
	padding: 5px 0 10px 0;
}
.advantages__item div p {
	margin-top: 19px;
}

@media (max-width: 650px) {
	.advantages {
		-ms-grid-columns: minmax(240px, 1fr);
		grid-template-columns: minmax(240px, 1fr);
		margin: 45px 0 60px 0;
	}
}
@media (max-width: 370px) {
	.advantages__item {
		gap: 10px;
		padding: 10px;
	}
	.advantages__item span {
		width: 28px;
		padding: 2px 0;
		font-size: 17px;
	}
	.advantages__item div p {
		margin-top: 9px;
	}
}
.reviews {
	margin-bottom: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 40px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.reviews__h3-img {
	width: 36%;
	min-width: 175px;
	padding-top: 19px;
}
.reviews__h3-img h3 {
	margin-bottom: 70px !important;
}
.reviews__img-cont {
	position: relative;
	padding-bottom: 115%;
}
.reviews__img-cont img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100% !important;
	-o-object-fit: cover;
	   object-fit: cover;
}
.reviews__items {
	width: calc(64% - 40px);
	min-width: 272px;
}
.reviews__item img {
	width: 84px;
	height: 21px;
}
.reviews__item-text {
	position: relative;
	padding: 27px 24px;
	margin: 15px 0 44px 0 !important;
	font-style: italic !important;
	border-radius: 10px;
	background-color: rgba(86, 86, 90, 0.25);
}
.reviews__item-text:before {
	content: "";
	position: absolute;
	bottom: -24px;
	left: 30px;
	display: inline-block;
	border: 12px solid transparent;
	border-left: 12px solid rgba(86, 86, 90, 0.25);
	border-top: 12px solid rgba(86, 86, 90, 0.25);
}
.reviews__item-name {
	color: #fff !important;
	font-weight: 700;
}
.reviews__item-date {
	color: #fff !important;
}
.reviews__item:nth-child(1) {
	margin-bottom: 50px;
}

@media (max-width: 570px) {
	.reviews {
		margin-bottom: 60px;
	}
	.reviews__h3-img, .reviews__items {
		width: 100%;
		min-width: auto;
	}
	.reviews__h3-img h3 {
		margin-bottom: 40px !important;
	}
	.reviews__img-cont {
		width: 240px;
		height: 276px;
		padding: 0;
		margin: 0 auto;
	}
	.reviews__item-text {
		margin: 8px 0 30px 0 !important;
	}
	.reviews__item:nth-child(1) {
		margin-bottom: 35px;
	}
}
.why {
	margin: 70px 0 0 0;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(199px, 1fr));
	gap: 55px;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
}
.why__item {
	display: -ms-grid;
	display: grid;
	justify-items: center;
	gap: 25px;
	-ms-grid-rows: auto 25px auto 25px 1fr;
	grid-template-rows: auto auto 1fr;
	text-align: center;
}
.why__item img {
	width: 76.8px;
	height: 76.8px;
}
.why__item p {
	padding: 20px 10px;
	border-radius: 10px;
	background: rgba(86, 86, 90, 0.25);
}

@media (max-width: 570px) {
	.why {
		margin: 50px 0 0 0;
	}
}
@media (max-width: 516px) {
	.why {
		margin: 40px 0 0 0;
		gap: 40px;
	}
	.why__item {
		gap: 15px;
	}
}
.get {
	margin: 100px 0 0 0;
	padding: 30px 20px;
	border: 3px double rgb(127, 127, 132);
	border-radius: 10px;
}
.get__continer {
	margin-top: 19px !important;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 30px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.get__text {
	width: calc(59% - 30px);
}
.get__text .block-p15 {
	margin: 40px 0 30px 0;
	padding: 20px 15px;
}
.get__text ul {
	list-style: none;
}
.get__text ul li + li {
	margin-top: 12px;
}
.get__text ul li {
	position: relative;
	padding-left: 32px;
	font-family: "Fira Sans", sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #fff !important;
}
.get__text ul li:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("https://img2.creatium.app/plp/i.1.creatium.io/cb/f1/85/d0621f75a914ab1ab4ae9fde7053d27367/iconfinder_correct_3855625.png") no-repeat;
	background-size: 100% 100%;
}
.get__socials {
	width: 41%;
	text-align: center;
}
.get__socials-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.get__socials-links a {
	display: block;
	width: 82px;
	height: 82px;
	-webkit-animation: radial-pulse-blue 1s infinite;
	        animation: radial-pulse-blue 1s infinite;
	border-radius: 50%;
}
.get__socials-links a img {
	width: 100%;
	height: 100% !important;
}
.get__socials-links a:nth-child(2) {
	-webkit-animation: radial-pulse-purple 1s infinite;
	        animation: radial-pulse-purple 1s infinite;
}
@-webkit-keyframes radial-pulse-blue {
	0% {
		-webkit-box-shadow: 0 0 0 0px rgba(77, 173, 221, 0.5);
		        box-shadow: 0 0 0 0px rgba(77, 173, 221, 0.5);
	}
	100% {
		-webkit-box-shadow: 0 0 0 25px rgba(77, 173, 221, 0);
		        box-shadow: 0 0 0 25px rgba(77, 173, 221, 0);
	}
}
@keyframes radial-pulse-blue {
	0% {
		-webkit-box-shadow: 0 0 0 0px rgba(77, 173, 221, 0.5);
		        box-shadow: 0 0 0 0px rgba(77, 173, 221, 0.5);
	}
	100% {
		-webkit-box-shadow: 0 0 0 25px rgba(77, 173, 221, 0);
		        box-shadow: 0 0 0 25px rgba(77, 173, 221, 0);
	}
}
@-webkit-keyframes radial-pulse-purple {
	0% {
		-webkit-box-shadow: 0 0 0 0px rgba(111, 63, 170, 0.5);
		        box-shadow: 0 0 0 0px rgba(111, 63, 170, 0.5);
	}
	100% {
		-webkit-box-shadow: 0 0 0 25px rgba(111, 63, 170, 0);
		        box-shadow: 0 0 0 25px rgba(111, 63, 170, 0);
	}
}
@keyframes radial-pulse-purple {
	0% {
		-webkit-box-shadow: 0 0 0 0px rgba(111, 63, 170, 0.5);
		        box-shadow: 0 0 0 0px rgba(111, 63, 170, 0.5);
	}
	100% {
		-webkit-box-shadow: 0 0 0 25px rgba(111, 63, 170, 0);
		        box-shadow: 0 0 0 25px rgba(111, 63, 170, 0);
	}
}
.get__socials > img {
	margin: 50px 30px 0 0;
	width: 90px;
	height: 90px !important;
}