*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a, a:visited{text-decoration: none;}
a:hover{font-style: none;}
img{vertical-align: top;}
h1{font-size: inherit;font-weight: 400;}



.html {
	max-width: 840px;
	margin: 0 auto;
	min-height: 100vh;
}



// Mixins
@mixin font ($fs, $lh) {
	font-size: $fs;
	line-height: $lh;
}

@mixin flex ($f, $fd, $g, $ai, $jc) {
	display: $f;
	flex-direction: $fd;
	gap: $g;
	align-items: $ai;
	justify-content: $jc;
}

@mixin grid ($g, $gtc, $gap, $ai, $jc) {
	display: $g;
	grid-template-columns: $gtc;
	gap: $gap;
	align-items: $ai;
	justify-content: $jc;
}



@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');



$Exo2: 'Exo 2', sans-serif;
$FiraSans: 'Fira Sans', sans-serif;
$Oswald: 'Oswald', sans-serif;



.body {
	padding: 50px 20px 90px 20px;

	color: rgb(170, 170, 173) !important;

	background: rgb(45, 45, 47);

	h2,
	h3,
	h4 {
		margin: 0 !important;
		font-weight: 500;
	}

	h2 {
		max-width: 672px;

		font-family: $Oswald;
		@include font(34px, 1.2);
		color: rgb(255, 219, 153) !important;

		span {
			color: #fff !important;
			font-weight: 700;
		}
	}

	h3 {
		font-family: $Oswald;
		@include font(30px, 1.1);
		color: rgb(255, 219, 153) !important;

		span {
			color: #fff !important;
		}
	}

	h4 {
		font-family: $Exo2;
		@include font(22px, 1.4);
		color: #fff !important;
	}

	p {
		margin-bottom: 0;
	}
}

@media (max-width: 370px) {
	.body {
		h2 {
			font-size: 28px;
		}

		h3 {
			font-size: 24px;
		}

		h4 {
			font-size: 17px;
		}
	}
}



.line-big {
	width: 15%;
	height: 3px;
	margin: 30px 0 65px 0;

	background-color: rgb(255, 218, 153);
}

@media (max-width: 650px) {
	.line-big {
		margin: 25px 0 45px 0;
	}
}



.txt {
	font-family: $FiraSans;
	@include font(15px, 1.6);
	font-weight: 300;
}

@media (max-width: 370px) {
	.txt {
		font-size: 14px;
	}
}



.block-p15 {
	padding: 15px;

	border-radius: 10px;
	background: rgba(86, 86, 90, 0.25);
}



.description {
	margin-bottom: 90px;
	@include flex(flex, row, 45px, flex-start, center);
	flex-wrap: wrap;

	&__text {
		width: calc(65% - 45px);
		min-width: 272px;

		& > p.txt {
			margin: 35px 0;
		}

		& > .block-p15 {
			p {
				font-family: $Exo2;
				@include font(18px, 1.6);
				color: #fff !important;
			}
		}
	}
	&__img {
		width: 35%;
		min-width: 170px;
		
		&-cont {
			position: relative;
			padding-bottom: 115%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100% !important;

			border-radius: 10px;

			object-fit: cover;
		}
	}
}

@media (max-width: 650px) {
	.description {
		margin-bottom: 60px;
		&__text {
			width: 100%;
			min-width: auto;
		}
		&__img {
			width: 100%;
			max-width: 280px;
		}
	}
}



.line-min {
	width: 5%;
	height: 3px;

	background-color: rgb(255, 218, 153);
}



.advantages {
	margin: 65px 0 110px 0;
	@include grid(grid, repeat(auto-fit, minmax(320px, 1fr)), 35px, stretch, left);

	&__item {
		@include grid(grid, auto 1fr, 20px, start, left);

		span {
			display: inline-block;
			width: 40px;
			padding: 5px 0;

			font-family: $Oswald;
			@include font(22px, 1.6);
			color: rgb(255, 219, 153) !important;
			font-weight: 700;
			text-align: center;

			background-color: rgb(45, 45, 47);
    		border-radius: 10px;
		}

		div {
			padding: 5px 0 10px 0;

			p {
				margin-top: 19px;
			}
		}
	}
}

@media (max-width: 650px) {
	.advantages {
		grid-template-columns: minmax(240px, 1fr);
		margin: 45px 0 60px 0;
	}
}

@media (max-width: 370px) {
	.advantages {
		&__item {
			gap: 10px;
			padding: 10px;

			span {
				width: 28px;
				padding: 2px 0;

				font-size: 17px;
			}

			div {
				p {
					margin-top: 9px;
				}
			}
		}
	}
}



.reviews {
	margin-bottom: 90px;
	@include flex(flex, row, 40px, flex-start, center);
	flex-wrap: wrap;

	&__h3-img {
		width: 36%;
		min-width: 175px;
		padding-top: 19px;

		h3 {
			margin-bottom: 70px !important;
		}
	}
	&__img-cont {
		position: relative;
		
		padding-bottom: 115%;

		img {
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100% !important;

			object-fit: cover;
		}
	}
	&__items {
		width: calc(64% - 40px);
		min-width: 272px;
	}
	&__item {
		img {
			width: 84px;
			height: 21px;
		}
		&-text {
			position: relative;

			padding: 27px 24px;
			margin: 15px 0 44px 0 !important;

			font-style: italic !important;

			border-radius: 10px;
			background-color: rgba(86, 86, 90, 0.25);
		
			&:before {
				content: '';

				position: absolute;
				bottom: -24px;
				left: 30px;
			    
			    display: inline-block;
			    
			    border: 12px solid transparent;
			    border-left: 12px solid rgba(86, 86, 90, 0.25);
			    border-top: 12px solid rgba(86, 86, 90, 0.25);
			}
		}
		&-name {
			color: #fff !important;
			font-weight: 700;
		}
		&-date {
			color: #fff !important;
		}
	}
	&__item:nth-child(1) {
		margin-bottom: 50px;
	}
}

@media (max-width: 570px) {
	.reviews {
		margin-bottom: 60px;

		&__h3-img,
		&__items {
			width: 100%;
			min-width: auto;
		}

		&__h3-img {
			h3 {
				margin-bottom: 40px !important;
			}
		}

		&__img-cont {
			width: 240px;
			height: 276px;
			padding: 0;
			margin: 0 auto;
		}

		&__item {
			&-text {
				margin: 8px 0 30px 0 !important;
			}
		}

		&__item:nth-child(1) {
			margin-bottom: 35px;
		}
	}
}



.why {
	margin: 70px 0 0 0;
	@include grid(grid, repeat(auto-fit, minmax(199px, 1fr)), 55px, stretch, left);

	&__item {
		display: grid;
		justify-items: center;
		gap: 25px;
		grid-template-rows: auto auto 1fr;

		text-align: center;

		img {
			width: 76.8px;
			height: 76.8px;
		}
		p {
			padding: 20px 10px;

			border-radius: 10px;
			background: rgba(86, 86, 90, 0.25);
		}
	}
}

@media (max-width: 570px) {
	.why {
		margin: 50px 0 0 0;
	}
}

@media (max-width: 516px) {
	.why {
		margin: 40px 0 0 0;
		gap: 40px;

		&__item {
			gap: 15px;
		}
	}
}



.get {
	margin: 100px 0 0 0;
	padding: 30px 20px;

	border: 3px double rgb(127, 127, 132);
	border-radius: 10px;

	&__continer {
		margin-top: 19px !important;
		@include flex(flex, row, 30px, flex-start, center);
	}
	&__text {
		width: calc(59% - 30px);

		.block-p15 {
			margin: 40px 0 30px 0;
			padding: 20px 15px;
		}

		ul {
			list-style: none;

			li + li {
				margin-top: 12px;
			}

			li {
				position: relative;

				padding-left: 32px;
				
				font-family: $FiraSans;
					@include font(15px, 1.6);
					color: #fff !important;
				
				&:before {
					content: "";

					position: absolute;
					top: 0;
					left: 0;

					display: inline-block;
					width: 24px;
					height: 24px;

					background: url("https://img2.creatium.app/plp/i.1.creatium.io/cb/f1/85/d0621f75a914ab1ab4ae9fde7053d27367/iconfinder_correct_3855625.png") no-repeat;
					background-size: 100% 100%;
				}
			}
		}
	}
	&__socials {
		width: 41%;

		text-align: center;

		&-links {
			@include flex(flex, row, 0, flex-start, space-around);

			a {
				display: block;
			    width: 82px;
			    height: 82px;
			    animation: radial-pulse-blue 1s infinite;
			    border-radius: 50%;

			    img {
			    	width: 100%;
			    	height: 100% !important;
			    }
			}

			a:nth-child(2) {
				animation: radial-pulse-purple 1s infinite;
			}

			@keyframes radial-pulse-blue {
			    0% {
			    	box-shadow: 0 0 0 0px rgba(77,173,221, 0.5);
			    }
			    100% {
			    	box-shadow: 0 0 0 25px rgba(77,173,221, 0);
			    }
			}

			@keyframes radial-pulse-purple {
			    0% {
			    	box-shadow: 0 0 0 0px rgba(111,63,170, 0.5);
			    }
			    100% {
			    	box-shadow: 0 0 0 25px rgba(111,63,170, 0);
			    }
			}
		}
		& > img {
			margin: 50px 30px 0 0;
			width: 90px;
			height: 90px !important;
		}
	}
}